@font-face {
    font-family: 'YourFontName';
    src: url('../fonts/Raleway-Regular.ttf') format('woff2'),
         /* url('../fonts/Raleway-SemiBold.ttf') format('woff'); */
    /* Add more formats if necessary */
    /* font-weight: normal;
    font-style: normal; */
}